.border-animate{
    width: 100%;
    height: 2px;
    background-color: aqua;
    visibility: hidden;
}
.border-animate-parent:hover .border-animate{
    visibility: visible;
}
.list-names:hover{
    cursor: pointer;
}