body{
    cursor: none;
    font-family: "DM Sans", sans-serif;
}
.border-animate{
    width: 100%;
    height: 2px;
    background-color: aqua;
    visibility: hidden;
}
.border-animate-parent:hover .border-animate{
    visibility: visible;
}
.list-names:hover{
    cursor: pointer;
}
.cursor{
    background-color: black;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    padding: 2px 4px 2px 4px;
    position: fixed;
    top: 10px;
    left: 20px;
    color: white;
}
